<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Urasandesu.NAnonym.Cecil.DW">
      <section name="DWConfigurationSection" type="Urasandesu.NAnonym.Cecil.DW.DWConfigurationSection, Urasandesu.NAnonym.Cecil, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <Urasandesu.NAnonym.Cecil.DW>
    <DWConfigurationSection AssemblySetupSetPath="AssemblySetupSet.xml" BackupDirectoryName="Backup" />
  </Urasandesu.NAnonym.Cecil.DW>
</configuration>