<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Urasandesu.NAnonym.Cecil.DI">
      <section name="DIConfigurationSection" type="Urasandesu.NAnonym.Cecil.DI.DIConfigurationSection, Urasandesu.NAnonym.Cecil, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <Urasandesu.NAnonym.Cecil.DI>
    <DIConfigurationSection AssemblySetupSetPath="AssemblySetupSet.xml" BackupDirectoryName="Backup" />
  </Urasandesu.NAnonym.Cecil.DI>
</configuration>